@import 'config';

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
  @include easeOutTransition();
}

.container {
  width: 80%;
  margin: auto;
}

.breadcrumb {
  margin: 0.5rem 1rem 0.5rem 2rem;
}

/* ======================================================================================================== */

nav.navbar {
  background: url(../images/navbar-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  @include easeOutTransition();

  &.hide {
    opacity: 0;
  }

  .container {
    display: flex;
    justify-content: space-between;

    .navbar-brand,
    .navbar-menu {
      margin: 1rem;
    }

    .navbar-menu {
      position: relative;
      align-self: flex-end;

      a {
        text-decoration: none;
        text-align: center;
        color: black;
      }

      li {
        display: inline-block;
        width: 8rem;
        list-style: none;
        background-color: $menu-color-primary;
        margin-left: 0.5rem;
        padding: 0.5rem 0px;
        border-radius: 5px;
        @include easeOutTransition();

        &:hover {
          background-color: darken($menu-color-primary, 10);
        }

        &.menu-store,
        &.menu-cart {
          @include ecommerce();
        }

        &.menu-cart {
          position: absolute;
          top: -2.7rem;
          left: 75.8%;
        }

        &.visited {
          background-color: darken($menu-color-primary, 20);

          &:hover {
            background-color: darken($menu-color-primary, 10);
          }
        }

        &.visited-ecommerce {
          background-color: darken($menu-color-ecommerce, 10);
        }
      }
    }
  }
}

body {
  margin-top: 140px;
}

// HOMEPAGE
@import 'home';

// BLOG PAGE
@import 'blog';

// BLOG DETAILS
@import 'blog-details';

// CONTACT FORM
@import 'contact';

// STORE
@import 'store';

// CART
@import 'cart';

footer.footer-picture {
  background-image: url(../images/footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  margin-top: 2rem;
}
