$primary-color: #a8e80c;
$menu-color-primary: white;
$menu-color-ecommerce: #e89f0c;

@font-face {
  font-family: Pristina;
  src: local('Pristina Regular'), url(../fonts/pristina.ttf) format('truetype');
}

@mixin ecommerce {
  background-color: $menu-color-ecommerce;
  color: white;

  &:hover {
    background-color: darken($menu-color-ecommerce, 10);
  }
}

@mixin primaryBtn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: $menu-color-primary;
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  color: black;

  &:hover {
    background-color: darken($menu-color-primary, 10);
  }
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

.breadcrumb {
  margin: 0.5rem 1rem 0.5rem 2rem;
}

/* ======================================================================================================== */

nav.navbar {
  background-color: $primary-color;

  .container {
    display: flex;
    justify-content: space-between;

    .navbar-brand,
    .navbar-menu {
      margin: 1rem;
    }

    .navbar-menu {
      position: relative;
      align-self: flex-end;

      a {
        text-decoration: none;
        text-align: center;
        color: black;
      }

      li {
        display: inline-block;
        width: 8rem;
        list-style: none;
        background-color: $menu-color-primary;
        margin-left: 0.5rem;
        padding: 0.5rem 0px;
        border-radius: 5px;

        &:hover {
          background-color: darken($menu-color-primary, 10);
        }

        &.menu-store,
        &.menu-cart {
          @include ecommerce();
        }

        &.menu-cart {
          position: absolute;
          top: -2.7rem;
          left: 75.8%;
        }

        &.visited {
          background-color: darken($menu-color-primary, 20);
        }

        &.visited-ecommerce {
          background-color: darken($menu-color-ecommerce, 10);
        }
      }
    }
  }
}

/* ======================================================================================================== */

// HOMEPAGE

body#home {
  main {
    .hero {
      background-image: url(../images/shine-up.png);
      background-color: black;
      background-size: auto 100%;
      background-position: right;
      background-repeat: no-repeat;
      width: 100%;
      height: 500px;
      color: white;

      .hero-headline {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 100%;

        .headline-header {
          font-size: 2.3rem;
          line-height: 2.5rem;

          span:first-child {
            font-family: Pristina, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: $menu-color-ecommerce;
            font-size: 6rem;
          }

          span:last-child {
            position: relative;
            left: 18px;
          }
        }

        .hero-action {
          display: inline-block;
          position: relative;
          left: -3.5rem;
          width: 130px;
          margin-top: 2rem;
          padding: 0.5rem 0px;
          border-radius: 5px;

          font-size: 1.3rem;
          text-decoration: none;
          text-align: center;

          @include ecommerce();
        }
      }
    }

    /* ======================================================================================================== */

    .bio {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: $primary-color;
      width: 70%;
      margin: 3rem auto;
      padding: 1.3rem 2.3rem;
      border-radius: 5px;

      .bio-description {
        width: 45%;

        header {
          text-align: center;
          font-size: 0.8rem;
        }
      }

      .separator {
        margin: 0.6rem;
        text-align: center;
      }
    }

    /* ======================================================================================================== */

    .action {
      background-color: #444;
      color: white;
      width: 40%;
      margin: 0px auto;
      padding: 2rem 2rem;
      text-align: center;
      border-radius: 5px;
      z-index: 1;

      h2 {
        font-size: 2rem;
        font-weight: 500;
      }

      .action-link {
        display: inline-block;
        width: 40%;
        margin: 1.5rem auto 0px auto;
        padding: 0.5rem 0px;
        border-radius: 5px;

        text-decoration: none;
        font-size: 1.3rem;

        @include ecommerce();
      }
    }
  }
}

/* ======================================================================================================== */

// BLOG PAGE
body#blog {
  main {
    a {
      text-decoration: none;
      color: black;
    }

    article.blog {
      width: 80%;
      margin: 0px auto 4rem auto;

      header.blog-title,
      section.blog-image,
      section.blog-text,
      footer.blog-action {
        background-color: rgba(#555, 0.1);
      }

      header.blog-title {
        margin: 1rem 0px;
        text-align: center;
        padding: 1rem 0px;

        a:hover {
          color: lighten(black, 40);
        }
      }

      section.blog-image {
        padding-top: 1rem;

        img {
          display: block;
          margin: auto;
          width: 50%;
        }
      }

      section.blog-text {
        padding: 2rem 6rem 1rem 6rem;

        hr {
          border: 0;
          height: 1px;
          background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.75),
            rgba(0, 0, 0, 0)
          );
          margin: -10px 0 16px 0;
        }
      }

      footer.blog-action {
        text-align: right;
        padding: 0 7rem 2rem 6rem;

        a {
          @include primaryBtn();
        }
      }
    }
  }
}

/* ======================================================================================================== */

// BLOG DETAILS

body#blog-details {
  main {
    .container {
      display: grid;
      grid-template-columns: 40% 60%;
      grid-gap: 1rem;
      align-items: start;

      .blog-title,
      .blog-info,
      .blog-text {
        background-color: #ddd;
      }

      .blog-title {
        grid-column: 1/3;
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
      }

      .blog-info {
        padding: 1rem;

        .info-image {
          img {
            width: 100%;
            height: auto;
          }
        }
      }

      .blog-text {
        padding: 1rem 1.5rem;

        p {
          margin-bottom: 1rem;
        }
      }

      .blog-traverse {
        grid-column: 2/3;
        display: flex;
        justify-content: space-between;
        align-items: start;

        a {
          @include primaryBtn();
        }
      }
    }
  }
}

/* ======================================================================================================== */

// CONTACT FORM

body#contact {
  main {
    .container {
      display: flex;
      justify-content: space-around;
      align-items: start;

      .contact-blurp,
      .contact-form {
        background-color: #ddd;
      }

      .contact-blurp {
        width: 30%;
        padding: 1rem 1rem 2rem 1rem;

        .blurp-header {
          margin-bottom: 1rem;
        }
      }

      .contact-form {
        width: 65%;
        padding: 1rem 2rem;

        .form-group {
          margin-bottom: 1rem;

          .form-label {
            font-size: 1.2rem;
            margin-bottom: 0.3rem;
          }

          .form-input {
            input,
            textarea {
              width: 100%;
              padding: 0.8rem 1rem;
              border-radius: 5px;
              border: none;
            }
          }

          .form-submitBtn {
            border: none;
            padding: 1rem 3rem;
            font-size: 1.3rem;
            cursor: pointer;

            @include ecommerce();
          }
        }
      }
    }
  }
}

/* ======================================================================================================== */

// STORE

body#store {
  main {
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .product {
        position: relative;
        width: 30%;
        background-color: #ddd;
        margin-bottom: 3rem;
        border-radius: 10px;
        border: 1px solid rgba(#aaa, 0.5);

        .product-name,
        .product-image,
        .product-action {
          margin: 1rem 0px;
        }

        .product-name {
          text-align: center;
          padding: 0.5rem;
          background-color: #eee;
        }

        .product-image {
          position: relative;
          background: white;

          .image {
            height: 200px;

            img {
              display: block;
              margin: auto;
              height: 100%;
            }
          }

          .price {
            position: absolute;
            top: 70%;
            right: 1.5rem;
            color: $menu-color-ecommerce;
            font-size: 2.3rem;
            font-weight: 500;
            text-align: right;
            letter-spacing: 0.1rem;
          }
        }

        .product-action {
          display: flex;
          justify-content: space-around;
          margin-top: 2rem;

          .product-add-cart,
          .product-details {
            width: 35%;
          }

          button {
            padding: 0.6rem 1rem;
            border: none;
            cursor: pointer;
            width: 100%;
          }

          .product-add-cart {
            button {
              border-radius: 5px;
              border: 1px solid black;
              @include ecommerce();

              &:disabled {
                background: #eee;
                color: darken(#eee, 20);
                cursor: not-allowed;
              }
            }
          }

          .product-details {
            button {
              @include primaryBtn();
              padding: 0.6rem 1rem;
            }
          }
        }
      }
    }
  }
}

/* ======================================================================================================== */

// CART

body#cart {
  main {
    .container {
      display: flex;
      justify-content: space-between;

      .cart-details {
        width: 70%;

        .row-title,
        .cart-product {
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          text-align: center;
          align-items: center;
          background: #eee;
          margin: 1rem 0px;
        }

        .row-title {
          div {
            border-left: 0.5px solid black;
            padding: 1rem 0px;

            &:last-child {
              border-right: 0.5px solid black;
            }
          }
        }

        .cart-product {
          padding: 0.5rem 0px;

          .product-image img {
            width: 60%;
          }

          .product-qty input {
            width: 50%;
            text-align: center;
          }

          .product-delete button {
            color: white;
            background: red;
            padding: 0.3rem 0.6rem;
            border: none;
            cursor: pointer;

            &:hover {
              background: darken(red, 20);
            }
          }
        }

        .cart-action {
          text-align: right;

          button {
            border: none;
            color: white;
            cursor: pointer;
            border-radius: 5px;
          }

          button.action-checkout {
            padding: 1rem 1.5rem;
            font-size: 1.5rem;
            margin-right: 10px;
            @include ecommerce();
          }

          button.action-deleteall {
            padding: 0.7rem 1rem;
            background: red;
          }
        }
      }

      .grand-total {
        width: 28%;
        background: #eee;
        padding: 2rem;

        header {
          margin-bottom: 0.5rem;
        }

        .product-list {
          margin: 1rem 0px;

          .list-item {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.5rem;
          }
        }

        .total-price {
          font-size: 2rem;
          text-align: right;
        }
      }
    }
  }
}

section.pagination {
  display: flex;
  justify-content: center;

  a {
    display: inline-block;
    padding: 0.3rem 1rem;
    background-color: #eee;
    border: 1px solid rgba(black, 0.3);
    text-decoration: none;
    color: black;

    &:hover {
      background-color: darken(#eee, 10);
    }
  }
}

footer.footer-picture {
  background-image: url(../images/footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  margin-top: 2rem;
}
